.outer {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.dark {
  background-color: black;
  color: white;
}

.inner {
  padding: 2rem 4rem;
}

header {
  margin-bottom: 1rem;
}

label,
select,
input {
  margin-right: 0.5rem;
}
